{% extends 'native.html.twig' %}
{% set message = message %}
{% set listanime = anime %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}

{% block body_home %}

    <div class="container">
        Pseudo: {{ user.username }}
        Email: {{ user.email }} 
    </div>
{% endblock %}
{% block js %}
        {{ parent() }}
{% endblock %}